<section id="wrapper">
    <h1>letShout</h1>
    <div id="main">
        <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()">
            <input type="search" placeholder="Type a twitter username" name="username" formControlName="username"
                   [(ngModel)]="username">
            <input type="number" min="1" placeholder="1" value="1" name="limit" formControlName="limit" [(ngModel)]="limit">
            <button type="submit" [disabled]="!tweetForm.valid" class="solid">Search</button>
        </form>
    </div>

    <p>Enter your twitter username and the number of comments you want to read.<br>
     Form status: {{ tweetForm.status | json}}, Form values: {{ tweetForm.value | json }}</p>

    <div id="divisor"></div>


    <alert></alert>

    <div class="bs-example" data-example-id="default-media" *ngIf="searchResults">
        <ul class="list-unstyled">
            <li class="media mb-10" *ngFor="let tweet of searchResults; let i=index">
                <img alt="{{tweet.username}}" class="align-self-start rounded mr-3" data-src="holder.js/50x50"
                     src="{{tweet.usernameImage}}"
                     data-holder-rendered="true" style="width: 50px; height: 50px;">
                <div class="media-body">
                    <h5 class="mt-0">{{tweet.username}}</h5>
                    {{tweet.text}}
                </div>
            </li>
        </ul>
    </div>
    <!--main-->

    <p>Created purely in CSS3. <a href="https://www.linkedin.com/in/alejandrososaperez/">Alejandro Sosa</a></p>
</section>